<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>  
    
    <div class="div-productDetail">
        <div style="background-color: #C9D16F; padding-bottom: 40px; padding-top: 40px;">
          <img style="width: 400px;border-radius: 2%;margin-bottom: 10px;margin-top: 10px; margin-left: 450px;display:inline-block;" src="/img/products/<%= producto.imagen %>">
          <h1 style="color: #FFFF ; font-size: 34px;margin-bottom: 25px"> <!-- <span>Nombre: </span> -->
            <span><%= producto.nombre %></span>
          </h1>
          <h3 style="color: #5B5B5F; margin-bottom: 25px,"> 
            <%= producto.ingredientes %>
          <h3 style="color: #FFFF; margin-bottom: 25px"> 
            <%= producto.descripcion %>
          </h3>
          <h2 style="color: #87AFA7 ;font-size: 25px; margin-bottom: 25px;"> <!-- <span>Precio:</span> -->
            $<%= producto.precio %>
          </h2>
          <a href="/products/edit/<%= producto.idProduct%>" style="text-decoration: none ; font-size:20px; color:white; background-color:#E8572F;padding: 5px; width: 35%; border-radius: 5px ;">editar producto</a>
            </div><br>
            <div class="register">
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <input type="text" name="nombre" placeholder="Nombre del produto">
                <input type="text" name="ingredientes" placeholder="Ingredientes">
                <input type="number" name="precio" placeholder="Precio de producto">
                <input type="file" name="imagen" placeholder="Imagen de producto">         
            </form>
            </div>
        </div>
    
<br>
    <%-include("../partials/footer")%>
</body>
</html>