<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>  
    
    <div class="div-productDetail">
        <div style="background-color: #C9D16F; padding-bottom: 40px; padding-top: 40px; padding-left: 40px;">
          <img style="width: 400px;border-radius: 2%;margin-bottom: 10px;margin-top: 10px; margin-left: 450px;display:inline-block;" src="/img/products/<%= producto.imagen %>">
          <h1 style="color: #FFFF ; font-size: 34px;margin-bottom: 25px"> <!-- <span>Nombre: </span> -->
            <span><%= producto.nombre %></span>
          </h1>
          <h3 style="color: #5B5B5F; margin-bottom: 25px,"> 
            <%= producto.ingredientes %>
          <h3 style="color: #FFFF; margin-bottom: 25px"> 
            <%= producto.descripcion %>
          </h3>
          <h2 style="color: #87AFA7 ;font-size: 25px; margin-bottom: 25px;"> <!-- <span>Precio:</span> -->
            $<%= producto.precio %>
          </h2>
          <div class="div-BTN" style="display: flex; justify-content: space-around;">
            <a href="/products/edit/<%= producto.id%>" type="button" class="btn" style="background-color: #274277; color: white; margin-top: 20px;">Editar producto</a>
            <form action="/products/delete/<%= producto.id %>" method="POST">
              <button type="submit" class="btn" style= "background-color: #274277; color: white; margin-top: 20px;">Eliminar producto</button>
            </form>
          </div>
        </div>
        </div>
<br>
    <%-include("../partials/footer")%>
</body>
</html>