<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>  
<main>
      <section style="justify-content:center;">
<div style="background-color:#BAE26F; width: 20%; padding-bottom: 5px; "> <h1 class="productos", style="margin-top:30px ; color:#FFFF; text-align:center;">productos</h1></div>
        <div style="display: flex;align-content: space-around;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;    margin: 5px;">

        </div>
        
        <div class="products-container" style="background-color:#C9D16F;padding-top: 50px; padding-left: 40px; padding-right: 40px; padding-bottom: 70px; margin:5%;">
          <% products.forEach(product => { %>
          <a href="/products/<%= product.id %>">
          <article>
            <img src="/img/products/<%= product.imagen %>" alt="">
            <div class="product-card" style="background-color: white; padding-botton:15px; margin-botton:30px;">
              <h1 class="description"><%= product.nombre %></h1>
              <div class="flex-row">
                <p class="price">Precio:$ <%= product.precio %></p>
              </div>
            </div>
          </article>
        </a>
          <% }) %>
        </div>
      </section>
    </main>

<br>
    <%-include("../partials/footer")%>
</body>
</html>